body {
    font-family: 'helvetica' 'arial' sans-serif;
    font-size: 14px;
    line-height: 18px;
    width: 800px;
    margin: 0 auto;
}


.beat {
    -webkit-transition: background .5s ease-out;
    transition: background .5s ease-out;
}

.beat.active {
    background-color: #000;

    -webkit-transition: background 0;
    transition: background 0;
}

.beat.active input[type="checkbox"]:checked {
    background: yellow;
}

input[type="checkbox"] {
    -webkit-appearance: none;

    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
}

input[type="checkbox"]:active {
    background: yellow;
}

input[type="checkbox"]:checked {
    background-color: #d98200;
}


/* Table layout */
table {
    border-spacing: 0;
    margin-bottom: 18px;
    line-height: 9px;

}

th {
    text-align: left;
    width: 150px;
}

th, td {
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

/* Border*/
input[type="checkbox"] {
    background-color: rgba(161,41,41,.9);
    border: solid 4px rgba(161,41,41,1);
    border-bottom: none;
    border-right: none;
}
table {
    border-right: 4px solid rgba(161,41,41,1);
}
tr:last-child td {
    border-bottom: 4px solid rgba(161,41,41,1);
}

